openapi: 3.0.3
info:
  title: Parsec Teams App Rule Member Invite API
  version: v1
  description: 'The Parsec for Teams API exposes everything a Parsec for Teams admin can do to an API application: inviting and managing team members and groups, provisioning and assigning team machines (computers), issuing time-limited guest access invites, managing application rules and relays, and reading the team audit log. Authentication is via an API key presented as an HTTP Bearer token. Every endpoint enforces a granular team permission (for example "View Team Members", "Delete Team Machine", "Access Audit Log").'
  contact:
    name: Parsec Support
    url: https://support.parsec.app
  termsOfService: https://parsec.app/terms
servers:
- url: https://api.parsec.app
  description: Production
security:
- bearerAuth: []
tags:
- name: Member Invite
paths:
  /v1/teams/{teamID}/member-invites:
    parameters:
    - $ref: '#/components/parameters/teamID'
    get:
      operationId: getTeamInvites
      summary: Get Team Invites
      description: Get a paginated list of team member invites. The View Team Invites permission is required.
      tags:
      - Member Invite
      responses:
        '200':
          description: A paginated list of member invites.
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      operationId: createTeamInvites
      summary: Create Team Invites
      description: Create team member invites. Maximum 50 requests in a 5 minute window; blocked for 5 minutes if this quota is exceeded. The Create Team Invites permission is required.
      tags:
      - Member Invite
      responses:
        '201':
          description: Invites created.
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
    put:
      operationId: updateTeamInvites
      summary: Update Team Invites
      description: Update team member invites. The Manage Team Invites permission is required.
      tags:
      - Member Invite
      responses:
        '200':
          description: Invites updated.
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/teams/{teamID}/cancel-member-invites:
    parameters:
    - $ref: '#/components/parameters/teamID'
    post:
      operationId: cancelTeamInvites
      summary: Cancel Team Invites
      description: Cancel outstanding team member invites. The Delete Team Invites permission is required.
      tags:
      - Member Invite
      responses:
        '200':
          description: Invites cancelled.
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/teams/{teamID}/resend-member-invites:
    parameters:
    - $ref: '#/components/parameters/teamID'
    post:
      operationId: resendTeamInvites
      summary: Resend Team Invites
      description: Resend team member invites. Maximum 50 requests in a 5 minute window; blocked for 5 minutes if this quota is exceeded.
      tags:
      - Member Invite
      responses:
        '200':
          description: Invites resent.
        '429':
          $ref: '#/components/responses/RateLimited'
components:
  responses:
    Forbidden:
      description: The API key's team role lacks the permission required for this endpoint.
    RateLimited:
      description: Rate limit exceeded. Maximum 50 requests in a 5 minute window; blocked for 5 minutes when the quota is exceeded.
  parameters:
    teamID:
      name: teamID
      in: path
      required: true
      schema:
        type: string
      description: The team identifier (e.g. team_123abc).
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'A Parsec for Teams API key presented as an HTTP Bearer token: `Authorization: Bearer YOUR_API_KEY`. API keys are created and managed in the Parsec for Teams dashboard.'
x-provenance:
  generated: '2026-07-20'
  method: searched
  source: https://parsec.app/docs/teams-api
  note: Faithfully reconstructed from Parsec's published Teams API reference (paths, methods, operation names, parameters, permission requirements and documented rate limits captured verbatim from the public docs). Request and response schema field detail is intentionally minimal where the docs did not publish it; nothing has been fabricated.
