openapi: 3.0.3
info:
  title: Parsec Teams App Rule Relay API
  version: v1
  description: 'The Parsec for Teams API exposes everything a Parsec for Teams admin can do to an API application: inviting and managing team members and groups, provisioning and assigning team machines (computers), issuing time-limited guest access invites, managing application rules and relays, and reading the team audit log. Authentication is via an API key presented as an HTTP Bearer token. Every endpoint enforces a granular team permission (for example "View Team Members", "Delete Team Machine", "Access Audit Log").'
  contact:
    name: Parsec Support
    url: https://support.parsec.app
  termsOfService: https://parsec.app/terms
servers:
- url: https://api.parsec.app
  description: Production
security:
- bearerAuth: []
tags:
- name: Relay
paths:
  /v1/teams/{teamID}/relays:
    parameters:
    - $ref: '#/components/parameters/teamID'
    get:
      operationId: getRelays
      summary: Get Relays
      description: List the team's relays.
      tags:
      - Relay
      responses:
        '200':
          description: The team's relays.
  /v1/teams/{teamID}/relays/{relayID}:
    parameters:
    - $ref: '#/components/parameters/teamID'
    - $ref: '#/components/parameters/relayID'
    put:
      operationId: updateRelay
      summary: Update Relay
      description: Update a team relay.
      tags:
      - Relay
      responses:
        '200':
          description: Relay updated.
components:
  parameters:
    relayID:
      name: relayID
      in: path
      required: true
      schema:
        type: string
    teamID:
      name: teamID
      in: path
      required: true
      schema:
        type: string
      description: The team identifier (e.g. team_123abc).
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'A Parsec for Teams API key presented as an HTTP Bearer token: `Authorization: Bearer YOUR_API_KEY`. API keys are created and managed in the Parsec for Teams dashboard.'
x-provenance:
  generated: '2026-07-20'
  method: searched
  source: https://parsec.app/docs/teams-api
  note: Faithfully reconstructed from Parsec's published Teams API reference (paths, methods, operation names, parameters, permission requirements and documented rate limits captured verbatim from the public docs). Request and response schema field detail is intentionally minimal where the docs did not publish it; nothing has been fabricated.
