openapi: 3.0.3
info:
  title: Parsec Teams App Rule Group API
  version: v1
  description: 'The Parsec for Teams API exposes everything a Parsec for Teams admin can do to an API application: inviting and managing team members and groups, provisioning and assigning team machines (computers), issuing time-limited guest access invites, managing application rules and relays, and reading the team audit log. Authentication is via an API key presented as an HTTP Bearer token. Every endpoint enforces a granular team permission (for example "View Team Members", "Delete Team Machine", "Access Audit Log").'
  contact:
    name: Parsec Support
    url: https://support.parsec.app
  termsOfService: https://parsec.app/terms
servers:
- url: https://api.parsec.app
  description: Production
security:
- bearerAuth: []
tags:
- name: Group
paths:
  /v1/teams/{teamID}/groups:
    parameters:
    - $ref: '#/components/parameters/teamID'
    get:
      operationId: getTeamGroups
      summary: Get Team Groups
      description: Get a paginated list of team groups. The View Groups permission is required.
      tags:
      - Group
      parameters:
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: A paginated list of team groups.
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      operationId: createTeamGroup
      summary: Create Team Group
      description: Create a team group. The Create Team Group permission is required.
      tags:
      - Group
      responses:
        '201':
          description: Group created.
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/teams/{teamID}/groups/{groupID}:
    parameters:
    - $ref: '#/components/parameters/teamID'
    - $ref: '#/components/parameters/groupID'
    get:
      operationId: getTeamGroup
      summary: Get Team Group
      description: Get a team group. The View Groups permission is required.
      tags:
      - Group
      responses:
        '200':
          description: The team group.
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateTeamGroup
      summary: Update Team Group
      description: Update a team group.
      tags:
      - Group
      responses:
        '200':
          description: Group updated.
    delete:
      operationId: deleteTeamGroup
      summary: Delete Team Group
      description: Delete a team group. The Delete Team Group permission is required.
      tags:
      - Group
      responses:
        '204':
          description: Group deleted.
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/teams/{teamID}/groups/{groupID}/members:
    parameters:
    - $ref: '#/components/parameters/teamID'
    - $ref: '#/components/parameters/groupID'
    get:
      operationId: getTeamGroupMembers
      summary: Get Team Group Members
      description: List the members of a team group.
      tags:
      - Group
      responses:
        '200':
          description: The group's members.
  /v1/teams/{teamID}/groups/{groupID}/add-members:
    parameters:
    - $ref: '#/components/parameters/teamID'
    - $ref: '#/components/parameters/groupID'
    post:
      operationId: assignTeamGroupMembers
      summary: Assign Team Group Members
      description: Assign members to a team group.
      tags:
      - Group
      responses:
        '200':
          description: Members assigned.
  /v1/teams/{teamID}/groups/{groupID}/remove-members:
    parameters:
    - $ref: '#/components/parameters/teamID'
    - $ref: '#/components/parameters/groupID'
    post:
      operationId: removeTeamGroupMembers
      summary: Remove Team Group Members
      description: Remove members from a team group.
      tags:
      - Group
      responses:
        '200':
          description: Members removed.
  /v1/teams/{teamID}/groups/{groupID}/permitted-groups:
    parameters:
    - $ref: '#/components/parameters/teamID'
    - $ref: '#/components/parameters/groupID'
    get:
      operationId: getPermittedTeamGroups
      summary: Get Permitted Team Groups
      description: List the groups this group is permitted to connect to.
      tags:
      - Group
      responses:
        '200':
          description: Permitted groups.
    post:
      operationId: addPermittedTeamGroups
      summary: Add Permitted Team Groups
      description: Grant this group access to additional groups.
      tags:
      - Group
      responses:
        '200':
          description: Permitted groups added.
  /v1/teams/{teamID}/groups/{groupID}/permitted-groups/{permittedGroupID}:
    parameters:
    - $ref: '#/components/parameters/teamID'
    - $ref: '#/components/parameters/groupID'
    - $ref: '#/components/parameters/permittedGroupID'
    put:
      operationId: updatePermittedGroupPermissions
      summary: Update permissions between groups
      description: Update the permissions between two groups.
      tags:
      - Group
      responses:
        '200':
          description: Permissions updated.
    delete:
      operationId: removePermittedTeamGroups
      summary: Remove Permitted Team Groups
      description: Revoke this group's access to another group.
      tags:
      - Group
      responses:
        '204':
          description: Permitted group removed.
components:
  responses:
    Forbidden:
      description: The API key's team role lacks the permission required for this endpoint.
    NotFound:
      description: The requested resource was not found.
  parameters:
    teamID:
      name: teamID
      in: path
      required: true
      schema:
        type: string
      description: The team identifier (e.g. team_123abc).
    permittedGroupID:
      name: permittedGroupID
      in: path
      required: true
      schema:
        type: string
    groupID:
      name: groupID
      in: path
      required: true
      schema:
        type: string
    offset:
      name: offset
      in: query
      schema:
        type: integer
        minimum: 0
      description: Pagination offset.
    limit:
      name: limit
      in: query
      schema:
        type: integer
      description: Maximum number of results to return per page.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'A Parsec for Teams API key presented as an HTTP Bearer token: `Authorization: Bearer YOUR_API_KEY`. API keys are created and managed in the Parsec for Teams dashboard.'
x-provenance:
  generated: '2026-07-20'
  method: searched
  source: https://parsec.app/docs/teams-api
  note: Faithfully reconstructed from Parsec's published Teams API reference (paths, methods, operation names, parameters, permission requirements and documented rate limits captured verbatim from the public docs). Request and response schema field detail is intentionally minimal where the docs did not publish it; nothing has been fabricated.
